.app {
  text-align: left;
  margin: 4rem;
  padding: 1%;
  border-radius: 10px;
  font-family: 'Lucida Grande', 'Open Sans', 'Arial', sans-serif;
}

.app-header {
  background-color: #06d6a0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  margin-bottom: 5rem;
}

.app-header a {
  text-decoration: none;
  font-size: 16px;
  color: #8a89c0;
  background-color: #f5f5f5;
  padding: 0.75rem;
  margin-bottom: 1%;
  border: 1px #048a81 solid;
  border-radius: 4px;
}

.app-header a:hover {
  text-decoration: underline;
  color: #f5f5f5;
  background-color: #8a89c0;
}

.app-body {
  text-align: left;
  margin: 0 10%;
}

.app-link {
  color: #61dafb;
}

.section-header {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
